<div class="content-box">
	<div class="content-box-title">
    	<p class="left-title">Main System</p>
        <div class="clear"></div>
    </div>   
    <div class="content-box-container">

        <div class="content-toggle">
        	<a href="#" class="itoggle itoggle-active"></a> 
            <p class="itoggle-content-off" style="display:none;">
				Security System Disarmed
            </p>
            <p class="itoggle-content-on">
				Security System Armed
            </p>
        </div>

    </div>
</div>

<div class="content-box">
	<div class="content-box-title">
    	<p class="left-title">Sensors</p>
        <div class="clear"></div>
    </div>

	{{for sensors}}

	<div class="files-box">
    	{{if status==1}}
    	<img class="fleft" src="images/message-success.png" alt="img">
    	{{else}}
    	<img class="fleft" src="images/message-error.png" alt="img">
    	{{/if}}
        <p class="file-title">{{:title}}</p>
        <div class="clear"></div>
    </div>

    {{if #view.parent.data.length != #index+1}}<div class="files-decoration"></div>{{/if}}    

	{{/for}}

</div>