<div class="content-box">
    <div class="content-box-title">
        <p class="left-title">Edit Room</p>
        <div class="clear"></div>    
    </div>
    <div class="content-box-container">

    	<p class="field-description">Room Name</p>
    	<input type="text" placeholder="Room Name" class="field" id="name" value="{{:room.title}}">

        <p class="field-description">Room Description</p>
        <input type="text" placeholder="Room Description" class="field" id="description" value="{{:room.description}}">        

        <a class="quick-post-button button yellow" href="#">Save</a>
        <div class="clear"></div>
    </div>
</div>