<div class="content-box">
	<div class="content-box-title">
    	<p class="left-title">Rooms</p>
    	<a href="#rooms/add" class="option_button button green" id="room_add">Add Room</a>
        <div class="clear"></div>
    </div>

	{{for rooms}}

	<div class="files-box">
        <p class="file-title">{{:title}}</p>
        <a href="/#rooms/{{:id}}" class="post-edit">Edit</a>
        <div class="clear"></div>
    </div>

    {{if #view.parent.data.length != #index+1}}<div class="files-decoration"></div>{{/if}}    

	{{/for}}

</div>