<div class="content-box">
    <div class="content-box-title">
        <p class="left-title">Edit Room</p>
        <div class="clear"></div>    
    </div>
    <div class="content-box-container">

    	<p class="field-description">Room Name</p>
    	<input type="text" placeholder="Name" class="field" id="title" value="{{:room.title}}">

        <p class="field-description">Description</p>
        <input type="text" placeholder="Description" class="field" id="description" value="{{:room.description}}">        

        <a class="quick-post-button button yellow" href="#" id="room_update_btn">Save</a>
        <div class="clear"></div>
    </div>
</div>