<div class="content-box">
    <div class="content-box-title">
        <p class="left-title">Add Sensor</p>
        <div class="clear"></div>    
    </div>
    <div class="content-box-container">

    	<p class="field-description">Sensor Name</p>
    	<input type="text" placeholder="Sensor Name" class="field" id="sensor_title" value="{{:sensor.title}}">

        <p class="field-description">Type</p>
        <select id="sensor_type" class="field">
        	{{for sensorTypes}}
        	<option value="{{:id}}">{{:title}}</option>
        	{{/for}}
        </select>

        <p class="field-description">Room</p>
        <input type="text" placeholder="Sensor Room" class="field" id="sensor_room" value="{{:sensor.title}}">

        <p class="field-description">Sensor Serial Number</p>
        <input type="text" placeholder="Serial Number" class="field" id="sensor_serial" value="{{:sensor.title}}">

        <a class="quick-post-button button yellow" href="#" id="sensor_save_btn">Save</a>
        <div class="clear"></div>
    </div>
</div>