<div class="content-box">
    <div class="content-box-title">
        <p class="left-title">Edit Sensor</p>
        <div class="clear"></div>    
    </div>
    <div class="content-box-container">

        <p class="field-description">Sensor Name</p>
        <input type="text" placeholder="Sensor Name" class="field" id="sensor_title" value="{{:sensor.title}}">

        <p class="field-description">Type</p>
        <select id="sensor_type" class="field">
            {{for sensorTypes}}
            <option value="{{:id}}" {{if #parent.parent.data.sensor.sensor_type == title}}selected{{/if}}>{{:title}}</option>
            {{/for}}
        </select>

        <p class="field-description">Room</p>
        <select id="sensor_room" class="field">
            {{for rooms}}
            <option value="{{:id}}" {{if #parent.parent.data.sensor.room_id == id}}selected{{/if}}>{{:title}}</option>
            {{/for}}
        </select>

        <p class="field-description">Sensor Serial Number</p>
        <input type="text" placeholder="Serial Number" class="field" id="sensor_serial" value="{{:sensor.serial}}">

        <a class="quick-post-button button yellow" href="#" id="sensor_update_btn">Save</a>
        <div class="clear"></div>
    </div>
</div>