<div class="content-box">
	<div class="content-box-title">
    	<p class="left-title">Sensors</p>
        <div class="clear"></div>
    </div>

	{{for sensors}}

	<div class="files-box">
    	{{if status==1}}
    	<img class="fleft" src="images/message-success.png" alt="img">
    	{{else}}
    	<img class="fleft" src="images/message-error.png" alt="img">
    	{{/if}}
        <p class="file-title">{{:title}}</p>
        <a href="/#sensors/{{:id}}" class="post-edit">Edit</a>
        <div class="clear"></div>
    </div>

    {{if #view.parent.data.length != #index+1}}<div class="files-decoration"></div>{{/if}}    

	{{/for}}

</div>