<div class="content-box">
    <div class="content-box-title">
        <p class="left-title">Edit User</p>
        <div class="clear"></div>    
    </div>
    <div class="content-box-container">

        <p class="field-description">First Name</p>
        <input type="text" placeholder="First Name" class="field" id="first_name" value="{{:user.first_name}}">

        <p class="field-description">Last Name</p>
        <input type="text" placeholder="Last Name" class="field" id="last_name" value="{{:user.last_name}}">

        <p class="field-description">Email</p>
        <input type="text" placeholder="Email" class="field" id="email" value="{{:user.email}}">

        <p class="field-description">Phone</p>
        <input type="text" placeholder="Phone" class="field" id="phone" value="{{:user.phone}}">

        <p class="field-description">PIN</p>
        <input type="text" placeholder="PIN" class="field" id="pin" value="{{:user.pin}}">

        <p class="field-description">Password</p>
        <input type="password" placeholder="password" class="field" id="password">

        <a class="quick-post-button button yellow" href="#" id="user_update_btn">Save</a>
        <div class="clear"></div>
    </div>
</div>